# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data & Models (large files)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
ml/models/*
!ml/models/.gitkeep

# Environments & IDEs
.env
.vscode/
.idea/

# Distribution / Packaging
build/
dist/
*.egg-info/
